<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : t('page_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
      <%= render partial: 'shared/alerts' %>
      <%= yield %>
    </main>
  </body>
</html>
